/*------------ font style ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
h2{
    font-size: 45px;
    color: #0A0826;
}
p{
    font-size: 16px;
    color: #6C6C6C;
}

section{
    margin-bottom: 100px;}
/*-----------------------------------1st part css---------------------------*/

.america-border{
    background-color: #2D25A0;
    
}
.banner-flex{

    display: flex;
    
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 60px;
    padding-bottom: 45px;
}
.half-width img{
    Width:100%;
}
.half-width:hover img{
    transform: scale(1.3) skew(20deg);
    transition: transform 1s ease-in-out;
}
.button-link{
    background-image:linear-gradient(rgb(245, 20, 58),rgb(137, 123, 146));
    text-decoration: none; 
    color: whitesmoke;
    padding: 15px 24px;
    border-radius: 2px;
}
.button-link:hover{  
    background-color:rgb(124, 73, 73);
    transition: 2s ease-in-out;
}


/*-----------------------------------2nd part css---------------------------*/
.container-player{
    margin-top:80px;
}

.players-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,fr);
    justify-content: center;
    grid-gap:20px;
    width: 1050px;
    margin: 0 auto;
}

.players{
    width: 310px;
    height: 474px;
    border-radius: 3px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player img{
    width:310px;
    height: 256px;
}

/*-----------------------------------3nd part css---------------------------*/

.Highlights{
    width: 45%;
    padding-left: 6%;
    padding-right: 6%;
    
}
.Highlights img{
    Width:100%;
}


/*---------------------------4th part css------------------------------------------*/
.copa-video{
    display: flex;
    justify-content:space-around;
}

.video1, .video2, .video3{
    margin: 5px;
    padding: 5px;
}
.text-center{
    text-align: center;
}

/*------------------------5thth part----------------------------------------------*/
.news-paper{
    display: flex;
    justify-content:space-evenly;
}
.pic1 img, .pic2 img, .pic3 img, .pic4 img {
    width:310px;
    height: 256px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15)
}


/*-----------------------------------last part css---------------------------*/
.logo-width{
    /* display: grid;
    grid-template-rows: repeat(2,fr); */
    display: flex;
    justify-content: center;

}

.logo-width img{ 
    width:300px;
    height: 50px;
     
}

.icon-cls{
    display: flex;
    justify-content: center;   
}
.copyright{
    display: flex;
    justify-content: center;
}
.fab{
    font-size: 25px;
    color: gray;
    padding-left: 2px;
}
.logo{
    font-size: 25px;
    color: gray;
    padding-left: 4px;
}

.icon{
    color: black;
}


/*-------------------------------responsive media quarry----------------------------*/

@media only screen and (max-width:668px) {
    .banner-flex, .players-blog, .copa-video,.news-paper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .button-link{
        background-image:linear-gradient(rgb(245, 20, 58),rgb(137, 123, 146));
        text-decoration: none; 
        color: whitesmoke;
        padding: 7px 5px;
        border-radius: 1px;
    }
    
     .half-width h1{
            font-size: 20px;
     }
    .half-width img{
        Width:150%;
    }
    .banner-flex,.players-blog{
        flex-direction: column;
        justify-content: center;
    }
    .sporce-footer{display: grid;
    grid-template-columns: repeat(1,1fr);   
}
.logo-width img{ 
    width:200px;
    height: 50px;
}

}

@media only screen and (min-width:669px) and (max-width:992px){
    .banner-flex, .players-blog, .copa-video,.news-paper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .banner-flex,.players-blog, .copa-video,.news-paper{
        flex-direction: column;
        
    }
}
